<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536458351317-eg1tmq2k3eth9hqnqquvvi1oejst3u9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536458351317-eg1tmq2k3eth9hqnqquvvi1oejst3u9g</string>
	<key>API_KEY</key>
	<string>AIzaSyBsKSPd07VCI_pgJcIFzISF0oXKP3wtSbo</string>
	<key>GCM_SENDER_ID</key>
	<string>536458351317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.edu.ittepic.damU4Proyecto219400588</string>
	<key>PROJECT_ID</key>
	<string>dam-u4-proyecto2-19400588</string>
	<key>STORAGE_BUCKET</key>
	<string>dam-u4-proyecto2-19400588.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536458351317:ios:35dba9fe2ef0f207c6885c</string>
</dict>
</plist>